.App-screen {
  display: flex; /* Permite elementelor să se alinieze pe orizontală */
  flex-direction: column; /* Aliniere pe verticală */
  height: 100vh; /* Înălțimea paginii */
  font-family: 'Roboto', sans-serif; /* Fontul folosit */
}

.App-body {
  display: flex; /* Permite elementelor să se alinieze pe orizontală */
  flex: 1; /* Ocupă tot spațiul disponibil */
  height: 100%; /* Înălțimea paginii */
  margin: 4px;
}
